@font-face {
	font-family: Myriad;
	src: url('/fonts/MyriadPro-Regular.otf');
}

html{
  width: 100%;
  height: 100%;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important; 
  background: url('/img/green_dust_scratch.png') repeat;
  background-color: #fff;
  background-size: 100% 100%;
}

body{
  font-family: Helvetica, 'Myriad', Arial, sans-serif;
  font-size: 17px;
  margin: 0;
  /*background: url('/img/textured_paper.png') repeat;*/
  width: 100%;
  height: 100%;
}

header{
  margin: auto;
  width:75%;
}

a{
  text-decoration: none;
}

label{
  font-weight: bold;
  width: 200px;
  float: left;
}

textarea{
  width: 400px;
}

table {
  margin: auto;
}

table > tbody > tr > td {
  text-align: center;
  padding-left:1em;
  padding-right:1em;
  padding-bottom:1em;
}

table > tbody > tr > td > img {
  border: 2px solid #ccccca;
  border-radius: 5px;
}

#lightbox{
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  z-index: 9;
  display:none;
}

#bg_overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index:10;
}

#navflower{
  position:absolute;
  z-index:0;
  left:-130px;
  top:100px;
}

#container {
  margin: auto;
  width: 50%;
  height: 50%;
  position: absolute;
  top:15%;
  left:25%;
  z-index:11;
  text-align:center;
}

#close {
  color: #fff;
}

#modal > img {
  box-shadow: rgba(0,0,0,0.3) 0 5px 3px;
}

#pageview{
  margin: auto;
	/*background: url('/img/ricepaper2.png') repeat;*/
	background: url('/img/green_dust_scratch.png') repeat;
  background-color: #7feb61;
  z-index:-10;
  width: 90%;
}

#head{
  margin: 0;
  padding: 1em 0 0;
}

#logo{
  width: 30%;
  margin-right:10px;
  display: inline-block;
  vertical-align:bottom;
  margin-bottom:5px;
  position:relative;
  z-index:1;
}

#badge{
  float:left;
  margin-top:5px;
  margin-right:20px;
  width: 9%;
  top: -15px;
  position:relative;
  z-index:1;
}

#topnav {
  width: 50%;
  margin-top:5px;
  display: inline-block;
  vertical-align:bottom;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #123123;
  font-weight: bold;

 /* background-image: linear-gradient(bottom, rgb(125,125,125) 48%, rgb(128,125,128) 74%, rgb(158,158,158) 87%);
  background-image: -o-linear-gradient(bottom, rgb(125,125,125) 48%, rgb(128,125,128) 74%, rgb(158,158,158) 87%);
  background-image: -moz-linear-gradient(bottom, rgb(125,125,125) 48%, rgb(128,125,128) 74%, rgb(158,158,158) 87%);
  background-image: -webkit-linear-gradient(bottom, rgb(125,125,125) 48%, rgb(128,125,128) 74%, rgb(158,158,158) 87%);
  background-image: -ms-linear-gradient(bottom, rgb(125,125,125) 48%, rgb(128,125,128) 74%, rgb(158,158,158) 87%);

  background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.48, rgb(125,125,125)),
	color-stop(0.74, rgb(128,125,128)),
	color-stop(0.87, rgb(158,158,158))
  );*/
}

#topnav ul{
  display: table;
  padding-left: 0;
  width: 100%;
}

#topnav ul li{
  display: table-cell;
  list-style-type: none;
  width:33.33333333%;
  text-align:center;
  border-right: 1px solid #aaaaaa;
}

#topnav ul li:last-child {
  border-right: none;
}

#topnav a{
  color: #fff;
}

#topnav a:hover{
  color:#ccccca;
}

#body{
  margin: auto;
  width: 1280px;
  position: relative;
  margin-top:1em;
}

#formDiv{
  float:left;
}

#contactText{
}

#contactPhoto{
  float: right;
}

#orderImage{
    float:left;
    margin-left:5em;
}

#orderImg{
    margin: auto;
    border: 2px solid #ccccca;
    border-radius: 5px;
}

#orderCost{
    text-align: center;
}

#orderWarning{
    color: #ff0000;
}

nav{
  clear: both;
}

.button{
  color: #fff;
  font-weight: bold;
  padding: 0.5em;
  border: 1px solid #36c210;
  border-radius: 20px;
  background: #7feb61;
}

.button:hover{
  cursor: pointer;
  curosr: hand;
}

button:active{
  background-color: #8d8d8d;
}

#sidenav{
  background-color:#fff;
  border-radius: 6px;
  width: 200px;
  float: left;
  margin-right:1em;
  margin-top:0.9em;
  box-shadow: rgba(0,0,0,0.3) 0 1px 8px;
  z-index:5;
  position:absolute;
  opacity:0.8;
  left:5px;
}

#sidenav h3{
  padding-left:1em;
  background: #123123;
  color:#fff;
  margin-top:0;
  margin-bottom:0;
  padding-top:0.2em;
  padding-bottom:0.2em;
  border-radius: 6px 6px 0px 0px;
}

#sidenav ul{
  padding:0;
  margin:0;
}

#sidenav ul li{
  background-color: #eee;
  font-weight: bold;
  list-style-type: none;
  padding-top:0.1em;
  padding-bottom:0.5em;
}

#sidenav ul li a {
  padding-left: 1em;
}

#sidenav ul li ul li{
  list-style-type: none;
  font-weight:normal;
  background-color: #fff;
  padding-left:1em;
}

#sidenav a{
  color:#000;
}

#sidenav a:hover{
  color: #888888;
}

#content{
  border-style: solid;
  border-width: 23px 25px 76px;
  -moz-border-image: url(img/border.png) 23 25 76 stretch;
  -webkit-border-image: url(img/border.png) 23 25 76 stretch;
  -o-border-image: url(img/border.png) 23 25 76 stretch;
  border-image: url(img/border.png) 23 25 76 stretch;
  background-clip:padding-box;
  float: left;
  width: 930px;
  padding: 2em;
  background-color:#fff;
  /*box-shadow: rgba(0,0,0,0.3) 0 1px 8px;*/
  min-height:600px;
  position:relative;
  z-index:5;
  left:220px;
}

#content h3{
  border-bottom: 1px solid #000;
  margin-top:3px;
}

#content h1{
  margin-top: 0;
  font-family: 'Dawning of a New Day', cursive;
  font-weight: bold;
  font-size:2em;
  z-index:1000;
  position:absolute;
  color:#fff;
  background-color:#000;
  opacity:0.67;
  padding-left:1em;
  padding-right:1em;
}

.priceWarning{
  border: 1px solid silver;
  border-radius: 4px;
  color: red;
  text-align: center;
  padding: 1em;
}

.productTable img:hover{
  cursor: pointer;
  cursor: hand;
}

#copyright{
  clear: both;
  text-align: center;
  padding-top:1em;
  font-size:11px;
  margin-bottom:1em;
}

#slides {
  display: none;
}

#slides .slidesjs-navigation {
  margin-top:5px;
}

a.slidesjs-next,
a.slidesjs-previous,
a.slidesjs-play,
a.slidesjs-stop {
  background-image: url(img/btns-next-prev.png);
  background-repeat: no-repeat;
  display:block;
  width:12px;
  height:18px;
  overflow: hidden;
  text-indent: -9999px;
  float: left;
  margin-right:5px;
}

a.slidesjs-next {
  margin-right:10px;
  background-position: -12px 0;
}

a:hover.slidesjs-next {
  background-position: -12px -18px;
}

a.slidesjs-previous {
  background-position: 0 0;
}

a:hover.slidesjs-previous {
  background-position: 0 -18px;
}

a.slidesjs-play {
  width:15px;
  background-position: -25px 0;
}

a:hover.slidesjs-play {
  background-position: -25px -18px;
}

a.slidesjs-stop {
  width:18px;
  background-position: -41px 0;
}

a:hover.slidesjs-stop {
  background-position: -41px -18px;
}

.slidesjs-pagination {
  margin: 7px 0 0;
  float: right;
  list-style: none;
}

.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background-image: url(img/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -13px
}

.slidesjs-pagination li a:hover {
  background-position: 0 -26px
}

#slides a:link,
#slides a:visited {
  color: #333
}

#slides a:hover,
#slides a:active {
  color: #9e2020
}

.navbar {
  overflow: hidden
}

#slides {
  display: none
}

.container {
  margin: 0 auto;
  border: 4px solid #eee;
  border-radius: 4px;
}

/* For tablets & smart phones */
@media (max-width: 767px) {
  header{
  	width: 100%;
  }
  body {
	padding-left: 20px;
	padding-right: 20px;
	font-size:28px;
	width: 200%;
	height: 100%;
  }
  table{
  	font-size:24px;
  }
  td {
  	padding-left:0.5em;
	padding-right:0.5em;
  }
  textarea{
  	font-size:24px;
	margin-bottom:1em;
  }
  .container {
	width: auto
  }
  .inputBox {
    height: 2em;
	font-size:24px;
	margin-bottom:1em;
  }
  .order {
    width: 200px;
  }
  .extra {
    width: 400px;
  }
  .button {
    padding: 1em;
    font-size: 24px;
  }
  #body{
	width: 100%;
  }
  #content{
	width: 785px;
	left: 275px;
  }
  #content h1{
  	font-size:1em;
	padding-left:0.5em;
	padding-right: 0.5em;
  }
  #sidenav{
	width: 283px;
	left: 0px;
  }
  #logo{
    width: 36%;
  }
  #badge{
    width: 8%;
  }
  #topnav{
    width: 50%;
  }
  #formDiv{
  	width: 50%;
  }
  #contactForm{
  	width: 100%;
  }
  #copyright{
   	width: 100%;
  }
}

/* For smartphones */
@media (max-width: 480px) {
  .container {
	width: auto
  }
}

/* For smaller displays like laptops */
@media (min-width: 768px) and (max-width: 979px) {
  header{
    width: 100%;
  }
  .container {
	width: 279px
  }
  #logo{
    width: 36%;
  }
  #badge{
    width: 8%;
  }
  #topnav{
    width: 50%;
  }
}

/* For larger displays */
@media (min-width: 1200px) {
  .container {
	width: 450px
  }
}
